<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Full_action_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{62,82}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,35},{62,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,78}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,38},{70,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{66,80}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,37},{66,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{64,82}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{64,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{58,82}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,35},{58,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,604},{52,84}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,33},{52,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,690},{52,84}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{52,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{52,84}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,32},{52,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{52,86}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{52,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,90},{56,84}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,34},{56,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,348},{60,82}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,34},{60,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,176},{58,84}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,33},{58,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{54,84}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{54,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,432},{54,84}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{54,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,518},{54,84}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{54,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{54,86}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,33},{54,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,262},{58,84}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,35},{58,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{60,82}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,36},{60,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Full_action_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{64,76}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,37},{64,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Full_action.png</string>
            <key>size</key>
            <string>{128,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ba7e22c62a6b598aab025297439d3a:deb38acf0b07eb4858e6eaf97ecbe506:42237f5b615e4c2d35ded60d977b91f9$</string>
            <key>textureFileName</key>
            <string>Full_action.png</string>
        </dict>
    </dict>
</plist>
